.btn-edit {
  border: none;
  color: none;
  outline: none;
  background: transparent;
  color: green;
  transition: all 0.3s ease;
}
.btn-edit:hover {
  transform: scale(1.2); /* Tăng kích thước nút khi hover lên */
  cursor: pointer; /* Thay đổi con trỏ khi hover lên nút */
}
.btn-delete {
  border: none;
  color: none;
  outline: none;
  background: transparent;
  color: rgb(158, 15, 15);
  transition: all 0.3s ease;
}
.btn-delete:hover {
  transform: scale(1.2); /* Tăng kích thước nút khi hover lên */
  cursor: pointer; /* Thay đổi con trỏ khi hover lên nút */
}
